<div id="publicInfo">

  <!-- <iframe src="https://drive.google.com/file/d/1DiZtVgGW7_RyPXn1q3l9qJJHE3VZP-7m/preview"></iframe> -->

  <div class="pdf-title">מצגת מודל תעשה - ד"ר משה פרחי</div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://drive.google.com/file/d/1DiZtVgGW7_RyPXn1q3l9qJJHE3VZP-7m/preview"></iframe>

  </div>

  <div class="video-title">מקום בטוח - הרפיית ג'יקובסון</div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4h_vaLjQSE0" allowfullscreen></iframe>
  </div>

  <br>

  <div class="video-title">מה קורה בלחץ</div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/GOR8sDaOd4w" allowfullscreen></iframe>
  </div>

  <br>

  <div class="video-title">חשיבה חיובית</div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Q-NA44aeT0" allowfullscreen></iframe>
  </div>

  <br>

  <div class="video-title">סגנונות התמודדות שונים</div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/2g_is9jOqGs" allowfullscreen></iframe>
  </div>

  <br>

  <div class="video-title">הרפיית שרירים ודימיון מודרך</div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/848cv7dNhds" allowfullscreen></iframe>
  </div>

  <br>


  <div id="hot-line">
    <table id="hot-line-table">
      <tr>
        <td><b>קווים חמים</b></td>
      </tr>
      <tr>
        <td>
          <b>שם</b>:
          נט"ל |
          <b>מספר טלפון</b>:
          1-800-363-363
        </td>
      </tr>
      <tr>
        <td>
          <b>שם</b>:
          ער"ן |
          <b>מספר טלפון</b>:
          1201
        </td>
      </tr>
    </table>
  </div>

</div>
