<!-- For the search engine -->
<div class="search-container">
    <input class="form-control" type="text" name="search" [(ngModel)]="searchWord" autocomplete="off" placeholder="חיפוש" >
</div>
<!-- For the search engine -->

<div (click)="onSelect(folder)" *ngFor="let folder of getFolders()| filter:searchWord"> <!-- "| filter:searchWord" is For the search engine. The filtering will be done by the name or the key or the id in the realtime firebase -->
    <!-- <div class="folder" [id]="folder.id">{{folder.name}}</div>  -->
    <div class='thread-reply-folder' [id]="folder.id">
        <img src='https://cdn2.iconfinder.com/data/icons/thesquid-ink-40-free-flat-icon-pack/64/envelope-2-512.png' width="60px" height="50px">
        <span class="folder">{{folder.name}}</span>
    </div>
</div>


