/* contact us page*/

option {
    color: white;
    background-color: #0c87bf;
}

#contact-title {
    /* color: rgb(104, 141, 243); */
    color: #0c87bf;
    font-size: 140%;
}

#infoContact {
    text-align: center;
    margin-bottom: 5%;
}

.contact-space {
    width: 200px;
    height: 10px;
    /* background: rgb(104, 141, 243); */
    background: #0c87bf;
    margin: 40px auto;
}

.contact-form {
    max-width: 35%;
    margin: auto;
    overflow: hidden;
    padding: 7px;
    margin-top: -2%;
}

.contact-form-info {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
    border: 0;
    background: rgba(255, 136, 0, 0.904);
    padding: 20px 40px;
    outline: none;
    color: white;
    font-weight: bold;
    transition: 0.5s;
    font-size: 15px;
    text-align: right;
    font-family: Arial;
    border-radius: 20px;
}

.contact-form-info:focus {
    box-shadow: 0 0 4px 4px #34495e;
}

#message {
    resize: none;
    height: 140px;
}

.contact-form-send {
    float: left;
    background: #d67e1a;
    color: whitesmoke;
    padding: 12px 50px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    outline: none;
    font-weight: bold;
}

.contact-form-send:hover {
    background: #0b8e36;
}


/*-------select---------*/


/* select{
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 20px 0;
    border: 0;
    background: #34495e;
    padding: 20px 40px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
    font-size: 15px;
    text-align: right;
    font-family: Arial;
    border-radius: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
} */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1;
    /* Firefox */
}