<main>
    <div id="infoContact">
        <h1>צור קשר</h1>
        <div class="contact-space"></div>
        <form class="contact-form" action="" method="post">
            <input type="text" class="contact-form-info" placeholder="שם מלא">
            <input type="email" class="contact-form-info" placeholder="אימייל">
            <input type="tel" class="contact-form-info" placeholder="פלאפון">
            <textarea id="message" class="contact-form-info" placeholder="הודעה"></textarea>
            <input type="submit" class="contact-form-send" value="שלח">
        </form>
    </div>
</main>
