<!--div class="displayTable">
    <div class="displayTableCell">
  
      <div class="authBlock">
        <h3>התחברות למורשים</h3>
        <div class="formGroup">
          <input type="text" [(ngModel)]="email" placeholder="שם משתמש" required>
        </div>
  
        <div class="formGroup">
          <input type="password" [(ngModel)]="password" placeholder= "סיסמא" required>
        </div>
  
        <div class="formGroup">
          <input type="button" class="btn btnPrimary" value="התחבר" (click)="login()">
        </div>
  

    </div>
  </div-->

  <div class="login-page">
    <div class="form">
      <form class="login-form">
        <input type="text" name="email" [(ngModel)]="email" placeholder="שם משתמש" required>
        <input type="password" name="password" [(ngModel)]="password" placeholder= "סיסמא" required>
        <button type="button" value="התחבר" (click)="login()">התחבר</button>
      </form>
    </div>
  </div>





