/* For the search engine  */

.search-container {
  margin-top: 5%;
  max-width: 500px;
  padding-bottom: 50px;
  border-radius: 6px;
}

.form-control {
  box-shadow: 0 10px 40px 0 #B0C1D9;
}

.form-control::placeholder {
  font-family: 'Varela Round', sans-serif;
  font-size: 19px;
}

input {
  font-family: 'Varela Round', sans-serif;
  color: blue;
  font-size: 18px;
  height: 30px;
  width: 250px;
  border: #B0C1D9;
  border-radius: 6px;
}


/* For the search engine  */


/*for files*/

.thread-reply-file {
  /* font-weight: bold; */
  /* font-size: 14px; */
  color: blue;
  font-family: 'Varela Round', sans-serif;
  float: right;
  cursor: pointer;
  width: 100%;
  height: 10%;
  display: flex;
  padding: 3px;
  /* float: left;
  cursor: pointer;
  margin: 5px;
  text-align: center;
  width: 120px;
  height: 150px;
overflow: hidden; */
}

img {
  width: 20%;
  height: 100%;
}

.file {
  position: relative;
  margin-top: auto;
  margin-bottom: auto;
}

.thread-reply-file span {
  display: block;
}

.thread-reply-file img {
  width: 50px;
}

#div-file {
  margin: 0 0 0 0;
}


/*for files*/


/*go-back button*/

button {
  font-family: 'Varela Round', sans-serif;
  text-align: center;
  justify-content: center;
  outline: 0;
  background: #4CAF50;
  height: 50px;
  width: 250px;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 20px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  margin-top: 5%;
  margin-bottom: 2%;
}

button:hover,
button:active,
.button:focus {
  background: #43A047;
}


/*go-back button*/
