<div id="center-button">
  <div (click)="onSelect(center)" class="navTag" *ngFor="let center of centers">
    <a [id]="center.id">{{center.hebName}}</a>
  </div>
</div>

<br>
<br>

<div *ngIf="isJudeaAndSamariaSelcted; then thenBlock else elseBlock"></div>

<!-- if judea-and-samaria selected -->
<ng-template #thenBlock>
  <app-slideshow [dbPath]="picPath"> </app-slideshow>  
</ng-template>

<!-- if gaza-strip selected -->
<ng-template #elseBlock>
  <app-slideshow [dbPath]="picPath"> </app-slideshow>  
</ng-template>