.navTag {
    width: 19.7%;
    text-align: center;
    font-size: 1rem;
    color: white;
    text-decoration: none;
    font-family: arial;
    padding: 14px 0px;
    background-color: rgb(137, 138, 139);
    border-radius: 1rem;
    margin: 2.5px 0px;
    cursor: pointer;
    position: realtive;
  }