<!--h3> Welcome to {{locationId}}!!</h3-->

<div id="center-button">
  <div (click)="onSelect(center)" class="navTag" *ngFor="let center of centers">
    <a [id]="center.id">{{center.hebName}}</a>
  </div>
</div>


<div id="location"></div>


<!--div class="navTag" *ngFor="let center of centers">
    <a [id]="center.id">{{center.hebName}}</a>
</div>

<app-center-info></app-center-info-->

<p> . בנוסף ללחצנים שיאפשרו לצפות במידע הרלוונטי למרכז הנבחר, יהיה בדף זה מידע ותמונות שרלוונטיים לכל המרכזים.  
</p>

<!-- <app-slideshow [dbPath]="picPath"> </app-slideshow>   -->
