<div id="publicInfo">

  <div class="video-title">עזרה ראשונה רגשית</div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fBFQ6bBu71E" allowfullscreen></iframe>
  </div>

  <br>

  <div class="video-title">מודל מעשה</div>
  <div class="embed-responsive embed-pdf-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/kEJ353s1_U4" allowfullscreen></iframe>
  </div>

  <br>

  <div class="video-title">איך להרגיע לאחר אזעקה</div>
  <div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Fc652_hcipU" allowfullscreen></iframe>
  </div>

  <br>

  <div id="hot-line">
    <table id="hot-line-table">
      <tr>
        <td><b>קווים חמים</b></td>
      </tr>
      <tr>
        <td>
          <b>שם</b>:
          נט"ל |
          <b>מספר טלפון</b>:
          1-800-363-363
        </td>
      </tr>
      <tr>
        <td>
          <b>שם</b>:
          ער"ן |
          <b>מספר טלפון</b>:
          1201
        </td>
      </tr>
    </table>
  </div>

</div>
