@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');
#center-info {
    font-family: 'Varela Round', sans-serif;
}

/*

.who-we-are {
  width: 70%;
  border: 1px solid black;
  text-align: center;
}

.title-info{
  border: 1px solid black;
} */

/* #center-info{
    font: Ariel;
}

p, ul, table, a, h2{
    font-size: medium;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

#info{
    background: thistle;
}

tr{
    text-align: right;
}

td{
    height: 30px;
    width: 200px;
}
li{
    height: 40px;
}

#links{
    background: lightseagreen;
}

#workshops{
    background: lightcyan;
}

#phone-numbers{
    background: lightgoldenrodyellow;
} */
