<div id="center-info">
  <h3> Welcome to {{centerId}}!!</h3>

  <img id="logo" src=""/>

  <p id="center-info">פסקת הסבר על מרכז החוסן הנבחר </p>

  <!--slideshow [imageUrls]="imageSrcArray"></slideshow-->
  <!--https://www.npmjs.com/package/ng-simple-slideshow-->

  <!--video width="320" height="240" controls><source src="" type="video/mp4"></video-->
  <!--https://www.w3schools.com/html/html5_video.asp-->

  <ul id="links">
      <li><a href="http://israeltraumacoalition.org/he/" target="_blank">קישור-1</a></li>
      <li><a href="http://israeltraumacoalition.org/he/" target="_blank">קישור-2</a></li>
      <li><a href="http://israeltraumacoalition.org/he/" target="_blank">קישור-3</a></li>
  </ul>

  <div id="workshops">
      <img id="workshop-1" src=""/>
      <a id="workshop-1-link" href="" target="_blank">קישור לסדנה</a>
  </div>

  <table id="phone-numbers">
      <tr>
        <th>תפקיד</th>
        <th>מספר</th>
      </tr>
      <tr>
        <td>תפקיד-1</td>
        <td>111-111-111</td>
      </tr>
      <tr>
        <td>תפקיד-2</td>
        <td>999-999-999</td>
      </tr>
    </table>

</div>