<div id="center-info">

  <div id="center-info">

    <img id="logo" src="assets/images/centerAssets/shomron/shomronLogo.png" />
    <div class="who-we-are">
      <div class="detail-info">
        <p>
          מרכז חוסן שומרון פועל משנת 2017, מתוקף החלטת ממשלה ומתוקצב ע"י משרדי החינוך, הרווחה והבריאות. המרכז עובד בחמש
          רשויות- בעיר אריאל, במועצות מקומיות עמנואל, קדומים, קרני שומרון ומוא"ז שומרון.
        </p>
        <p>
          המרכז הינו גוף מקצועי-ארגוני המאפשר לרשויות להיערך ולספק מענה לקהילה בשעת חירום ובמקביל לפתח ולחזק את חוסנה
          בתקופת רגיעה.
        </p>
        <p>
          מוכנים בשגרה – חזקים בחירום
        </p>
        <p>
          חוסן חברתי - נמדד ביכולתה של הקהילה לנקוט פעולות מכוונות לשיפור היכולת האישית והמשותפת של תושביה ומוסדותיה
          בתקופה של שינוי בטחוני כלכלי או חברתי.
        </p>
        <p>
          קהילה חסינה מאפשרת חיים משפחתיים, חברתיים וקהילתיים בריאים ומתפקדים גם בעתות משבר וחירום. אידאל זה מנתב את דרך
          העבודה של מרכז החוסן.
        </p>

        <p>
          המרכז פועל בתקופות של שגרה ורגיעה:
        </p>
        <ul>
          <li>
            לשיפור וחיזוק החוסן והלכידות ברשויות השונות.
          </li>
          <li>
            להכנה ופיתוח שירותי חירום שיאפשרו התמודדות אפקטיבית במצבי חירום ובשגרה.
          </li>
          <li>
            לפיתוח חוסן חברתי: הכשרה של מתנדבים בחירום ,קורסי ע"ר נפשית, ליווי ובינוי קהילתי, הכשרות פעילים ומתנדבים,
            פיתוח והכשרה של מנהיגות פורמלית ובלתי פורמלית, סדנאות לקהילות שונות ועוד.
          </li>
          <li>
            המרכז פועל על פי עקרונות של פיתוח ושותפות וגמיש להתאמות הייחודיות הקהילתיות והסביבתיות עם הרשויות.
          </li>
        </ul>
        <br />
      </div>
    </div>

    <div id="workshops-area">
      <div *ngFor="let image of images;let i = index" id="{{i}}">
        <div id="workshops">
          <a id="workshop-link" href={{urls[i]}} target="_blank">
            <img id="workshop-img" [src]="image"  />
            <br>
            <span id="change-hidden">לחץ כדי להגיע לסדנה</span>
          </a>
        </div>
        <br>
        <br>
      </div>
    </div>

    <ul id="links">
      <li><a href="https://forms.gle/8Qp68FRdXuRhoJHx5" target="_blank">טופס פנייה לטיפול</a></li>
      <li><a href="https://forms.gle/VR54NzGo1RT818dH7" target="_blank">משוב על טיפול שניתן במסגרת חוסן</a></li>
    </ul>

    <br>
    <br>


    <app-slideshow [dbPath]="picPath"> </app-slideshow>
    <br>
    <br>
    <br>

    <div class="video-info">
      <iframe class="embed-responsive-item" width="500" height="315" src="https://www.youtube.com/embed/XhVv639Ry-w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>

    <br>
    <br>

    <div id="phone-numbers-data">
      <table id="phone-numbers-table">
        <tr>
          <td>
            משרד חוסן שומרון |
            <b>מספר</b>:
            09-7940329
          </td>
        </tr>
        <tr>
          <td>
            נייד חוסן |
            <b>מספר</b>:
            055-277-9285
          </td>
        </tr>
      </table>
    </div>



  </div>
</div>