<div id="center-info">

  <div id="center-info">

    <img id="logo" src="assets/images/centerAssets/shomron/shomronLogo.png" />
    <div class="who-we-are">
      <div class="title-info">
        מי אנחנו:
      </div>
      <div class="detail-info">
        <p>
          מרכז חוסן שומרון פועל משנת 2017, מתוקף החלטת ממשלה ומתוקצב ע"י משרדי החינוך, הרווחה והבריאות. המרכז עובד בחמש
          רשויות- בעיר אריאל, במועצות מקומיות עמנואל, קדומים, קרני שומרון ומוא"ז שומרון.
        </p>
        <p>
          המרכז הינו גוף מקצועי-ארגוני המאפשר לרשויות להיערך ולספק מענה לקהילה בשעת חירום ובמקביל לפתח ולחזק את חוסנה
          בתקופת רגיעה.
        </p>
        <p>
          מוכנים בשגרה – חזקים בחירום
        </p>
        <p>
          חוסן חברתי - נמדד ביכולתה של הקהילה לנקוט פעולות מכוונות לשיפור היכולת האישית והמשותפת של תושביה ומוסדותיה
          בתקופה של שינוי בטחוני כלכלי או חברתי.
        </p>
        <p>
          קהילה חסינה מאפשרת חיים משפחתיים, חברתיים וקהילתיים בריאים ומתפקדים גם בעתות משבר וחירום. אידאל זה מנתב את דרך
          העבודה של מרכז החוסן.
        </p>

        <p>
          המרכז פועל בתקופות של שגרה ורגיעה:
        </p>
        <ul>
          <li>
            לשיפור וחיזוק החוסן והלכידות ברשויות השונות.
          </li>
          <li>
            להכנה ופיתוח שירותי חירום שיאפשרו התמודדות אפקטיבית במצבי חירום ובשגרה.
          </li>
          <li>
            לפיתוח חוסן חברתי: הכשרה של מתנדבים בחירום ,קורסי ע"ר נפשית, ליווי ובינוי קהילתי, הכשרות פעילים ומתנדבים,
            פיתוח והכשרה של מנהיגות פורמלית ובלתי פורמלית, סדנאות לקהילות שונות ועוד.
          </li>
          <li>
            המרכז פועל על פי עקרונות של פיתוח ושותפות וגמיש להתאמות הייחודיות הקהילתיות והסביבתיות עם הרשויות.
          </li>
        </ul>
        <br />
      </div>
    </div>
    <app-slideshow [dbPath]="picPath"> </app-slideshow>

    <div class="video-info">
      <video class="video-center" controls>
        <source src="" type="video/mp4"></video>
    </div>
    <br>
    <br>

    <ul id="links">
      <li><a href="http://israeltraumacoalition.org/he/" target="_blank">קישור-1</a></li>
      <li><a href="http://israeltraumacoalition.org/he/" target="_blank">קישור-2</a></li>
      <li><a href="http://israeltraumacoalition.org/he/" target="_blank">קישור-3</a></li>
    </ul>

    <div id="workshops">
      <img id="workshop-1" src="" />
      <p>כאן תהיה תמונה של הסדנה</p>
      <a id="workshop-1-link" href="" target="_blank">קישור לסדנה</a>
    </div>

    <br>

    <div class="phone-numbers">
      <table>
        <tr>
          <th>תפקיד:</th>
          <th>מספר:</th>
        </tr>
        <tr>
          <td>משרד חוסן שומרון</td>
          <td>09-7940329</td>
        </tr>
        <tr>
          <td>נייד חוסן</td>
          <td>055-277-9285</td>
        </tr>
      </table>
    </div>

  </div>

</div>

