<!-- <div (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapse-info">
  Toggle
</div>
<div id="collapse-info" [ngbCollapse]="isCollapsed">
      You can collapse this card by clicking Toggle
</div> -->
<div id="info-size">
  <div (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapse-info">
    <div class="designCollapse">
      <div class="who-we-are">
        <div class="detail-info">
          <p>
            הקואליציה הישראלית לטראומה הינה עמותה המאגדת תחתיה עשרות עמותות העוסקות בטיפול והיערכות בטראומה ומשבר.
            <br>
            הקואליציה מפעילה מרכזי חוסן.
          </p>
          <p>
            <u>מרכזי חוסן הקיימים</u>:
          </p>
          <ul>
            <li>
              עוטף עזה: שדרות, שער הנגב, שדות נגב וחוף אשקלון
            </li>
            <li>
              ביהודה ושומרון: בשומרון, בעציון, בבנימין וביהודה
            </li>
            <li>
              אשקלון
            </li>
            <li>
              החברה הבדואית
            </li>
          </ul>
          <span id="change-hidden" [ngbCollapse]="!isCollapsed">
            קרא עוד...
          </span>
          <div id="collapse-info" [ngbCollapse]="isCollapsed">
            <p>
              וישנם גם מרכזי הכשרה בצפון ובירושלים. מרכז הכשרות אזורי מקבץ מספר רשויות קרובות, לתהליך שיפור המוכנות
              למצבי
              חירום.
              <br>
              תכנית העבודה של מרכזי החוסן ומרכזי ההכשרה הינה במיפוי הרשות והבנת הפערים, הצרכים והכוחות הפועלים בה.
            </p>
            <p>
              בהנחת תשתית לנוהל חירום מקיף, ומתן הכשרות מקצועיות בתחומי חירום לאנשי המקצוע: צוותים פסיכוסוציאלים, צוותי
              חינוך,
              הנהגת הרשות ועוד.
              <br>
              תכנית העבודה וההכשרות מותאמות תרבותית ומאפשרות מתן מענה מקצועי ורגיש לאוכלוסיות השונות עימן אנו עובדים.
            </p>
            <p>
              המרכזים פועלים בשיתוף משרדי ממשלה, עמותות וקהילות משימתיות המשתלבים בהיערכות הרשות לחירום, כך שנוצרת רשת
              מקיפה
              של
              אנשי מקצוע המדברים בשפה משותפת.
              <br>
              הכשרת עובדי הרשות בפרט, והעבודה ברשויות שכנות בכלל, יוצרת מאגר ידע בר קיימא.
            </p>
            <p>
              אנשי טיפול מקצועיים מקהילות שכנות לומדים ומשתלמים יחדיו בשיטות טיפול חדשניות ומגוונות, ויוצרים במרוצת הזמן
              מאגר
              ידע
              אחיד, במסגרתו הרשויות מקיימות חפיפה זו עם זו, ומסוגלות לתת מענה אחת לשנייה בעת הצורך.
              <br>
              אתר זה נולד מתוך צורך לקבץ חומרי ידע הנצרכים לפרטים ולעובדי רשות בזמן חירום ובשיגרה.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed" aria-controls="collapse-info">
  <div class="designButton designButton-swap">
    <div class="who-we-are">
      <div class="detail-info">
        <p>
          הקואליציה הישראלית לטראומה הינה עמותה המאגדת תחתיה עשרות עמותות העוסקות בטיפול והיערכות בטראומה ומשבר.
          <br>
          הקואליציה מפעילה מרכזי חוסן.
        </p>
        <p>
          <u>מרכזי חוסן הקיימים</u>:
        </p>
        <ul>
          <li>
            עוטף עזה: שדרות, שער הנגב, שדות נגב וחוף אשקלון
          </li>
          <li>
            ביהודה ושומרון: בשומרון, בעציון, בבנימין וביהודה
          </li>
          <li>
            אשקלון
          </li>
          <li>
            החברה הבדואית
          </li>
        </ul>
      </div>
    </div>
    <div class="who-we-are detail-info">
    <span id="change-hidden" [ngbCollapse]="!isCollapsed">
      קרא עוד...
    </span>
    </div>
    <div id="collapse-info" [ngbCollapse]="isCollapsed">
      <div class="who-we-are detail-info">
        <p>
          וישנם גם מרכזי הכשרה בצפון ובירושלים. מרכז הכשרות אזורי מקבץ מספר רשויות קרובות, לתהליך שיפור המוכנות למצבי
          חירום.
          <br>
          תכנית העבודה של מרכזי החוסן ומרכזי ההכשרה הינה במיפוי הרשות והבנת הפערים, הצרכים והכוחות הפועלים בה.
        </p>
        <p>
          בהנחת תשתית לנוהל חירום מקיף, ומתן הכשרות מקצועיות בתחומי חירום לאנשי המקצוע: צוותים פסיכוסוציאלים, צוותי
          חינוך,
          הנהגת הרשות ועוד.
          <br>
          תכנית העבודה וההכשרות מותאמות תרבותית ומאפשרות מתן מענה מקצועי ורגיש לאוכלוסיות השונות עימן אנו עובדים.
        </p>
        <p>
          המרכזים פועלים בשיתוף משרדי ממשלה, עמותות וקהילות משימתיות המשתלבים בהיערכות הרשות לחירום, כך שנוצרת רשת
          מקיפה
          של
          אנשי מקצוע המדברים בשפה משותפת.
          <br>
          הכשרת עובדי הרשות בפרט, והעבודה ברשויות שכנות בכלל, יוצרת מאגר ידע בר קיימא.
        </p>
        <p>
          אנשי טיפול מקצועיים מקהילות שכנות לומדים ומשתלמים יחדיו בשיטות טיפול חדשניות ומגוונות, ויוצרים במרוצת הזמן
          מאגר
          ידע
          אחיד, במסגרתו הרשויות מקיימות חפיפה זו עם זו, ומסוגלות לתת מענה אחת לשנייה בעת הצורך.
          <br>
          אתר זה נולד מתוך צורך לקבץ חומרי ידע הנצרכים לפרטים ולעובדי רשות בזמן חירום ובשיגרה.
        </p>
      </div>
    </div>
  </div>
</div> -->


<br>
<div id="coalition-table-data">
  <table id="coalition-table">
    <tr>
      <td><b>הקואליציה הישראלית לטראומה</b></td>
    </tr>
    <tr>
      <td>
        קרית התקשורת נווה אילן, בניין C, כניסה א' (קומה 2) |
        <b>במשלוח דואר</b>:
        ד.נ. הרי יהודה, 9085000
      </td>
    </tr>
    <tr>
      <td>
        <b>מספר טלפון</b>:
        02-6722618 |
        <b>פקס</b>:
        02-6722796
      </td>
    </tr>
  </table>
</div>

<div id="all-table-data">
  <div id="relevant-links-table">
    <table id="relevant-links">
      <tr>
        <th class="table-title" COLSPAN="5">
          <u>אתרים רלוונטיים</u>:
        </th>
      </tr>
      <tr>
        <td class="table-link">
          <a target="_blank" href="https://info.oref.org.il">פורטל חירום לאומי</a>
        </td>
        <td class="table-link">
          <a target="_blank" rel="noopener noreferrer" href="http://cms.education.gov.il/EducationCMS/Units/shefi">אתר
            השירות הפסיכולוגי יעוצי שפ"ינט</a>
        </td>
        <td class="table-link">
          <a target="_blank" rel="noopener noreferrer" href="https://www.gov.il/he/departments/ministry_of_health">משרד
            הבריאות</a>
        </td>
        <td class="table-link">
          <a target="_blank" rel="noopener noreferrer" href="https://www.gov.il/he/departments/molsa">משרד העבודה,
            הרווחה ושירותים חברתיים</a>
        </td>
        <td class="table-link">
          <a target="_blank" rel="noopener noreferrer"
            href="https://www.gov.il/he/departments/ministry_for_social_equality">המשרד לשוויון חברתי</a>
        </td>
      </tr>
    </table>
  </div>
</div>

<br>

<app-slideshow [dbPath]="picPath"></app-slideshow>
<!-- <app-slideshow [dbPath]="'/pictures/center-info/shomron'"></app-slideshow> -->
<!-- <app-slideshow [inputVar]="inputHome"></app-slideshow> -->
