@import url('https://fonts.googleapis.com/css2?family=Alef:wght@400;700&display=swap');

#coalition-table{
  width: 100%;
}

#coalition-table-data {
  padding: 10px;
}

.table-title {
  text-align: center;
  font-size: 120%;
  padding: 5px;
}

.table-link {
  padding: 5px;
  width: 20%;
}

#relevant-links{
  width: 90%;
  text-align: center;
  margin: auto;
}

#all-table-data {
  width: 95%;
  margin: auto;
  padding: 20px;
  font-family: 'Alef', sans-serif;
}

.who-we-are {
  width: 70%;
  margin: auto;
  padding: 10px;
  font-family: 'Alef', sans-serif;
  font-size: 120%;
}

.title-info {
  font-size: 250%;
  text-decoration: underline;
}
