<div id="publicInfo">

  <div id="info-for-parents">
    <b id="title">עצות מעשיות להורים:</b>
    <br>
    <br>
    <b>עזרה לילדים לאחר אירוע חירום או משבר</b>
    <br>

    <p>
      החשיפה לאירועי חרום לא חייבת להיות ישירה כדי להשפיע על רגשותיהם של הילדים או לגרום להם למצוקה ויכולה להיגרם מצפייה
      בחדשות או האזנה לשיחות מבוגרים. ההלם והחרדה שהם מנת חלקם של המבוגרים, מועצמים על ידי תחושת חוסר האונים של הילד –
      הוא חש מאוים בעולם שעדיין לא לגמרי מובן לו. ההשלכות של חשיפה שכזו עלולות לכלול תגובות פחד, התנהגות אלימה, הצמדות
      להורים, חלומות רעים ואף הרטבה במיטה, אצל ילדים שכבר נגמלו מכך.
    </p>

    <p>
      האופן שבו ילד מגיב לאירוע טראומטי תלוי בגילו, אישיותו, מידת החשיפה הקודמת לטראומה, חומרת וקרבת האירוע הטראומטי
      ורמת התמיכה אותה הוא מקבל ממשפחתו ומחברים.
      <b>ההורים מהווים את המקור החשוב ביותר להתמודדות הילד בעתות משבר.</b>
      רוב הילדים יתאוששו ממשבר ללא עזרה מקצועית, בסיועם של הקרובים אליהם. וחשוב שההורים יהיו קשובים לסימני מצוקה אותם
      משדר הילד, ויתמכו בו.
    </p>
    <p>
      <b><u>להלן מספר עצות מעשיות אשר יעזרו להורים ולילדים להתמודד במצבי משבר ומצוקה:</u></b>
    </p>

    <ul>
      <li>&#x2756;
        <b>התגובה שלכם קובעת</b> -
        היו מודעים לתגובותיכם שלכם לאירוע, ילדים מסיקים כיצד להגיב למצב על ידי צפייה במבוגרים בסביבתם (הורים, גננות או
        מורים). נסו עד כמה שאפשר להפגין התנהגות רגועה ומרגיעה. על מנת לעשות זאת, שתפו חברים או בני משפחה מבוגרים אחרים
        ברגשות ובמחשבות שלכם בטרם תדברו עם ילדכם.<br><br>
      </li>
      <li>&#x2756;
        <b>תנו להם את תשומת הלב שהם זקוקים לה, הכירו ברגשותיהם</b> -
        ביחוד במצבים קשים, תשומת לב והקשבה מצדכם מספקות לילד הזדמנות להביע את חוויותיו ולחוש בטחון וקרבה. במידה והילד
        רוצה לשוחח על רגשותיו, אל תמנעו מכך, עודדו אותו לספר מה הוא חש. גלו הבנה והזדהות והסבירו לו אם הוא חש פחד, כעס
        ואשם כי אלו תגובות נורמליות לאירוע "לא נורמלי" שכזה.<br><br>
      </li>
      <li>&#x2756;
        <b>התאימו את המידע לרמת הבנתו של הילד</b> -
        התאימו את המידע אותו אתם מספקים לגילו ולרמתו של ילדכם. ספרו עובדות בלי פרשנות, אבל אל תרחיבו יתר על המידה. עודף
        מידע עלול לבלבל ילדים ולגרום לפחד וחוסר ביטחון. במידה והילד אינו רוצה לדעת מה שקרה, אל תתעקשו לספר לו. בכל מקרה,
        חשוב לא לספק מידע לא נכון לגבי מה שקרה.<br><br>
      </li>
      <li>&#x2756;
        <b>הגבילו חשיפה לאמצעי התקשורת</b> -
        הימנעו מחשיפת יתר של הילד לשידורים חיים וקשים של האירוע. הדבר חשוב במיוחד בגילאי הגן וביה"ס היסודי. השתמשו
        באמצעים אחרים, כגון סרטים, סיפורים או משחקים כדי להעסיק אותו בזמן זה.<br><br>
      </li>
      <li>&#x2756;
        <b>נסו לשמור על שגרה נורמלית וספקו להם דברי הרגעה מציאותיים לגבי ביטחונם</b> -
        שמרו ככל הניתן על הרגלים קבועים, זמני ארוחות ושינה. הרגיעו את הילדים כי הם בטוחים ואתם לצידם, והעבירו את המסר
        "ביחד נתגבר".<br><br>
      </li>
      <li>&#x2756;
        <b>סימני מצוקה המחייבים התערבות מקצועית</b>:
        שמרו ככל הניתן על הרגלים קבועים, זמני ארוחות ושינה. הרגיעו את הילדים כי הם בטוחים ואתם לצידם, והעבירו את המסר
        "ביחד נתגבר".
        <p id="inside-text">&#9675;
          בקרב מתבגרים יש להקפיד ולשים לב להתנהגות חריגה כמו הפרעות אכילה ושינה והפגנות כעס חריגות. סימנים אלו מחייבים
          התייחסות ופנייה לעזרה מקצועית.
        </p><br>
      </li>
      <li>&#x2756;
        ומה איתכם? שימו לב למצבכם הרגשי – אתם המשענת של הילד, עליכם לשמור על עצמכם. שמרו על שגרה והקפידו על קשר עם מעגלי
        התמיכה, המשפחה והחברים.
      </li>
    </ul>

    <p>אל תהססו לפנות לעזרה נפשית מקצועית במידה שנראה לכם כי אתם או ילדכם זקוקים לכך.</p>

  </div>

  <br>

  <div id="hot-line">
    <table id="hot-line-table">
      <tr>
        <td><b>קווים חמים</b></td>
      </tr>
      <tr>
        <td>
          <b>שם</b>:
          נט"ל |
          <b>מספר טלפון</b>:
          1-800-363-363
        </td>
      </tr>
      <tr>
        <td>
          <b>שם</b>:
          ער"ן |
          <b>מספר טלפון</b>:
          1201
        </td>
      </tr>
    </table>
  </div>

</div>
