div{
    font-family: 'Varela Round', sans-serif;
    font-size: 110%;
}

#title{
  font-size: 120%;
}

#info-for-parents{
  width: 80%;
  margin: auto;
}

ul{
  list-style-type: none;
}

#inside-text{
  width: 95%;
  margin: auto;
}

#hot-line{
  width: 80%;
  margin: auto;
  margin-bottom: 1%;
  font-size: 120%;
}